# Node modules
node_modules


tmp


.env




backend/yarn.lock
backend/.env

# React frontend

frontend/yarn.lock
frontend/build

# React Native mobile frontend
mobile_frontend/android/build
mobile_frontend/ios/build
mobile_frontend/node_modules
mobile_frontend/package-lock.json
mobile_frontend/yarn.lock

# Other common ignores
.DS_Store
Thumbs.db

